div.input_prompt {

	min-width: 0ex;
}

pre {
	box-shadow: none;
}

.hl-ipython2 .n {color: #000000;}
.hl-ipython2 .p {color: #6f6f6f;} /* Punctuation */

.hl-ipython3 .n {color: #000000;} /* Added 09/04/2020 */
.hl-ipython3 .p {color: #6f6f6f;} /* Added 09/04/2020 */


/* Added 09/04/2020 */

div.rendered_html table {
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  color: black;
  font-size: 12px;
  table-layout: fixed;
}
div.rendered_html thead {
  border-bottom: 1px solid black;
  vertical-align: bottom;
}
div.rendered_html tr,
div.rendered_html th,
div.rendered_html td {
  text-align: right;
  vertical-align: middle;
  padding: 0.5em 0.5em;
  line-height: normal;
  white-space: normal;
  max-width: none;
  border: none;
}
div.rendered_html th {
  font-weight: bold;
}
div.rendered_html tbody tr:nth-child(odd) {
  background: #f5f5f5;
}
div.rendered_html tbody tr:hover {
  background: rgba(66, 165, 245, 0.2);
}
/* Added 09/04/2020 */

th {
	text-align: center;
}

img.element.style {
    text-align: center;
}


/* fix bootstrap conflict with Pygments */
.highlight pre {background-color: #000000;
				border: inherit;
				color: inherit;
}

.hl-ipython3 pre {background-color: #f7f7f7;
  border: inherit;
  color: inherit;
}

/* fix conflict with other sytlesheets */
.highlight .m { margin: inherit; }



